/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.mySwiper {
  width: 60vw;
  height: 100vh;
  position: relative;
  background-color: rgb(17, 79, 132);
  background-color:var(--s-pm-1);
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

/* .swiper {
  width: 60vw;
  height: 100vh;
  /* background-color: blueviolet; */
/* } */ 

.swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  background-color:rgb(249, 252, 251);

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  height: 85%;
}

.slider-controler {
  position: relative;
}

.slider-arrow {
  position: absolute;
  /* bottom: -1000rem; */
  top: 40px;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(255, 255, 255);
  z-index: 10;
}

.swiper-button-next {
  position: absolute;
  left: 70px;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
